.noname-page {

}

.noname-content {
  //background-image: url('../../assets/pic/bois.jpg');
  //background-repeat: no-repeat;
  .scroll-content {
    height: 100%
  }

  #map {
    width: 100%;
    height: 100%;
  }
}
